<table class="table">
  <tr>
    <th>ID</th>&nbsp;&nbsp;&nbsp;
    <th>Name </th>&nbsp;&nbsp;&nbsp;
    <th>Address </th>&nbsp;&nbsp;&nbsp;
    <th>Gender </th>&nbsp;&nbsp;&nbsp;
    <th>Cars</th>&nbsp;&nbsp;&nbsp;
    <th>DateofJoin</th>&nbsp;&nbsp;&nbsp;
    <th>Hobbies</th>&nbsp;&nbsp;&nbsp;
    <th>Country</th>
  </tr>
    <tbody>
     <tr *ngFor="let item of data; let i=index">
       <td>{{item.id}}</td>&nbsp;&nbsp;&nbsp;
       <td>{{item.name}}</td>&nbsp;&nbsp;&nbsp;
       <td>{{item.address}}</td>&nbsp;&nbsp;&nbsp;
       <td>{{item.gender}}</td>&nbsp;&nbsp;&nbsp;
       <td>{{item.cars}}</td>&nbsp;&nbsp;&nbsp;
       <td>{{item.doj}}</td>&nbsp;&nbsp;&nbsp;
       <td>{{item.hobbies}}</td>&nbsp;&nbsp;&nbsp;
       <td>{{item.country}}</td>
      <!-- <td>{{item.CountryData}}</td>-->
       <td><button (click)="delete(i)" class="btn btn-danger">Delete</button></td>
       <td>
         <!-- <a [routerLink]="['/form',item.id]">-->
           <button type="button" (click)="edit(item.id)" class="btn btn-warning">Edit</button></td>
   </tr>
   <h1>{{x}}</h1>
     </tbody> 
     </table>
  