<h3 class="m-4">View Employee Details</h3>
<div class="m-5">
<div>
    <div>
        <label> <b> Name : </b></label> {{employee.name}}
    </div>
</div>

<div>
    <div>
        <label> <b> Address : </b></label> {{employee.address}}
    </div>
</div>

<div>
    <div>
        <label> <b> Gender : </b></label> {{employee.gender}}
    </div>
</div>

<div>
    <div>
        <label> <b> Cars : </b></label> {{employee.cars}}
    </div>
</div>

<div>
    <div>
        <label> <b> Date of Join : </b></label> {{employee.doj}}
    </div>
</div>

<div>
    <div>
        <label> <b> Hobbies : </b></label> {{employee.hobbies}}
    </div>
</div>

<div>
    <div>
        <label> <b> Country  : </b></label> {{employee.country}}
    </div>
</div>
</div>